$fv-min-vw: 320px !default;
$fv-max-vw: 1200px !default;
$fv-min-fs: 14px !default;  
$fv-max-fs: 18px !default;
$fv-baseline: $fv-max-fs !default;
$fv-line-height: 1.5 !default;
$fv-cap-height: 0.68 !default;

@function fv-strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@function fv-px-to-rem($pxval, $base: fv-strip-unit($fv-max-fs)) {
  @if not unitless($pxval) {
    $pxval: fv-strip-unit($pxval);
  }

  @return $pxval / $base + rem;
}

@function fv-rem-to-percent($percent) {
	$value: fv-strip-unit($percent);
	@return ( $value * 100 ) + %;
}

$fv-baseline: fv-px-to-rem($fv-baseline);

@mixin fluid-type() {
  font-size: $fv-min-fs;  
  line-height: fluid-lh();

  //We assume that browsers default font is 16px.
  $fv-min-vw: (fv-strip-unit($fv-min-vw) / 16) * 1rem;
  $fv-max-vw: (fv-strip-unit($fv-max-vw) / 16) * 1rem;
  $fv-min-fs: (fv-strip-unit($fv-min-fs) / 16) * 1rem;
  $fv-max-fs: (fv-strip-unit($fv-max-fs) / 16) * 1rem;

  @media screen and (min-width: $fv-min-vw) {
    font-size: calc(#{fv-rem-to-percent($fv-min-fs)} + #{fv-strip-unit($fv-max-fs - $fv-min-fs)} * ((100vw - #{fv-rem-to-percent($fv-min-vw)}) / #{fv-strip-unit($fv-max-vw - $fv-min-vw)})); 
  }

  @media screen and (min-width: $fv-max-vw) {
    font-size: $fv-max-fs;
  }
}

@mixin fluid-baseline( $size, $cap-height : $fv-cap-height, $scale: 2 ) {
  $rhythm: $fv-line-height * $size / $scale;
  $lines: ceil(($size + 0.001px) / $rhythm);
  $line-height: $rhythm * $lines / $size;

  line-height: ( $line-height * 100 ) + %;
  font-size: fv-px-to-rem($size);

  $baseline-distance: ($fv-line-height - $cap-height) / 2;

  padding-top: $baseline-distance + rem;
  margin-bottom: $fv-line-height - $baseline-distance + rem;
}

@mixin fluid-mb() {
  margin-bottom: $fv-baseline;
}

@function fluid-lh() {
  @return ( $fv-line-height * 100 ) + %;
}